.navbar-color {
    background-color: #1d1e1f !important;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(50%, max-content);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.nav-2 {
    height: 22px !important;
    min-height: 0 !important;
}
.navbar-color a {
    color: #100c08 !important;
}
a.text-1 {
    text-align: left;
    line-height: 10px;
    transition: border-bottom 1s ease !important;
    border-bottom: transparent !important;
}
a.text-1:hover {
    background-color: #1d1e1f !important;
    color: white;
    border-bottom: 1px white solid !important;
}
nav-2 {
    align-self: start;
    justify-self: start;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/2/2/3;
}

.navbar-start a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-item.text-1 {
    color: white !important;
    position: relative;
    left: 350px;
    font-family: "Maven Pro", sans-serif;
    font-weight: bolder;
}
.navbar-start {
    margin-left: auto;
}
.navbar-brand a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    min-height: 0 !important;
    height: 22px !important;
}
.mobile-menu {
    display: none;
}

@media only screen and (max-width: 768.67px) {
    .mobile-menu {
        display: flex;
        flex-direction: row;

        width: 65vw;
        align-content: space-around;
    }
    .link {
        font-size: 10px !important;
        margin-left: 5px;
    }
}
