@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body div {
    background-color: rgb(248,244,243) !important;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
.navbar.navbar-color{
    min-height: 0 !important;
    background-color: #98DAEC !important;
    
}
div#navMenu{
   background-color: #98DAEC !important; 
}
.navbar-start.is-flex.is-justify-content-flex-start {
    background-color: #98DAEC !important; 
}
.navbar-end.has-text-centered{
    background-color: #98DAEC !important;
}
a.navbar-item.text-1{
    color: black !important;
}
a.navbar-item.text-1:hover{
    background-color: #98DAEC !important;
    border-bottom: black 1.5px solid !important;
}
.text-main1 {
padding: 1rem;
right: 2px;
}
.text-main1 ul {
    list-style: inside;
    list-style-type: disc !important;

}
h1 {
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
}
.main-col {
    right: 10px;
}
p {
    color: rgb(16,12,8);
    font-size: 20px;
    line-height: 20px;
}